.btn{
  
    width: 70%;
    border: none;
    background-color: rgba(162, 207, 243, 0.76);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10cm;
    
    text-align: center;
  }
  
  .pn{
      text-decoration: none;
      color: rgb(255, 253, 253);
  }
  
    
    .btn:hover, .btn:active a{
      background-color: green;
      color: black;
    }
  
    .btn:hover {
      box-shadow:  4px 4px 6px 0 rgba(209, 204, 204, 0.938),
                  -4px -4px 6px 0 rgba(135, 136, 138, 0.877), 
        inset -4px -4px 6px 0 rgba(56, 52, 52, 0.829),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.623);
    }